
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button class="btn btn-primary" data-toggle="modal" data-target="#Modal2">Help</button>
<div class="modal" id="Modal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Help</h2>
            </div>
            <div class="modal-body">
                <p>This project has been created by <b>Nurlana Mammadova</b> in Summer</p>
            </div>
        </div>
    </div>
</div>

